*

!README.md
!.gitignore
!*.py

# simulation
!sim/*
# simulation: ignore the Output folder
sim/Output
output.zip
# simulation: ignore the linux simulator (users should get that elsewhere)
sim/virtualhome/simulation/unity_simulator/linux_exec*

# allow the dynamic scene graph code
!dsg/
!dsg/**

# allow the segmentation code
!segmentation/
# segmentation: ignore the model repo
segmentation/detectron2
detectron2*
# segmentation: ignore .ipynb files
segmentation/scene_segmentation.ipynb

# useful scripts
!frames_to_vid.sh
!rearrange.json

__pycache__
