*

!README.md
!.gitignore
!*.py

# frames folder, not content
!visualization_frames/
visualization_frames/*

# simulation
!sim/*
# simulation: ignore the Output folder
sim/Output
output.zip
# simulation: ignore the linux simulator (users should get that elsewhere)
sim/virtualhome/simulation/unity_simulator/linux_exec*

# allow the dynamic scene graph code
!dsg/
!dsg/**

# allow the detection/segmentation/etc code
!segmentation/
!detection/
!pose_estimation/

# useful scripts
!frames_to_vid.sh
!rearrange.json

__pycache__
